 <div id="follow_form">
  <% unless current_user?(tweet.poster) %>
	  <% if current_user.following?(tweet.poster) %>
	    <%= render 'unfollow', tweet: tweet %>
	  <% else %>
	    <%= render 'follow', tweet: tweet %>
	  <% end %>
	<% end %>
  </div>
<p><%=link_to tweet.tweet_owner, user_path(tweet.poster.id)%>: <%=tweet.content%><br />
<%=tweet.time_posted%>
<% if authorized?(tweet) %>
  <%= link_to 'Delete Your Tweet', tweet_path(tweet),  method: :delete, data: { confirm: 'Are you sure?' } %><br /><br /></p>
<% end %>