<h1>Welcome to uTweet!</h1>
<h2>Here's what's been happening.</h2>

<h3>Write a new tweet:</h3>
<%=form_for @tweet, url: tweets_path do |f|%>
	<%=f.label :content %>
	<%=f.text_area :content, size: "30" %>
	<%=f.submit%>
<% end %><br />

<%=render @tweets %>

