<h1>Sign Up</h1>

<%= form_for @user do |f| %>

  username: <%= f.text_field :username %>
  email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>

  <%= f.submit "Submit" %>

<% end %>