<h1>Welcome, <%=@user.username%>!<h1>
<h2>Followers: <%=@user.followers.count.to_s %></h2>
<h2>Following: <%=@user.following.count.to_s%></h2>
<h2>Here are Your Tweets:</h2>
<div>
	<% @tweets.each do |tweet| %>
		<%=tweet.content%><br />
		<%=tweet.time_posted%><br />
	<% end %>
</div>